In [ ]:
s="succesfully"
s

'succesfully'

In [ ]:
s="jay shree ram"
s

'jay shree ram'

In [ ]:
a=12
a

12

In [ ]:
type(a)

int

In [ ]:
type(s)

str

In [ ]:
r="hello world"
r
type(r)

str

In [ ]:
r

'hello world'

In [ ]:
#arithmetic operaters ,-,+,/,*

In [ ]:
a=13
b=34
a,b

(13, 34)

In [ ]:
a+b

47

In [ ]:
#relational operators <,>,==,!=

In [ ]:
a=25
b=245

In [ ]:
a<b

True

In [ ]:
a>b

False

In [ ]:
a==b

False

In [ ]:
a!=b

True

In [ ]:
#logical opreterors

In [ ]:
a= True
b= False

In [ ]:
a&a

True

In [ ]:
a&b

False

In [ ]:
a|b

True

In [ ]:
b|a

True

In [ ]:
b|b

False

In [ ]:
Student="martha"
#'S' captil use

In [ ]:
student="Juli"
#"s" smoll letter use

In [ ]:
student

'Juli'

In [ ]:
Student

'martha'

In [ ]:
a="hello word"

In [ ]:
a

'hello word'

In [ ]:
a1=3.47

In [ ]:
a1

3.47

In [ ]:
# a & a1 is literals he is not be cheng

In [ ]:
str1='this is my first string'

In [ ]:
str1

'this is my first string'

In [ ]:
str2="this is my second string"

In [ ]:
str2

'this is my second string'

In [ ]:
str3='''
this string
has 
lot of lines
ikn it'''

In [ ]:
str3

'\nthis string\nhas \nlot of lines\nikn it'

In [ ]:
my_string="this is sparta"

In [ ]:
my_string

'this is sparta'

In [ ]:
my_string[0]

't'

In [ ]:
my_string[-1]

'a'

In [ ]:
y="ram sita lakshuman"

In [ ]:
y

'ram sita lakshuman'

In [ ]:
y[1]

'a'

In [ ]:
my_string[6:11]

's spa'

In [ ]:
len(my_string)

14

In [ ]:
my_string.lower()

'this is sparta'

In [ ]:
my_string.upper()

'THIS IS SPARTA'

In [ ]:
my_string.count('sparta')

1

In [ ]:
my_string.replace("this",'are')

'are is sparta'

In [ ]:
str_new='sparta saparta 300 300 300'

In [ ]:
str_new

'sparta saparta 300 300 300'

In [ ]:
i=1 
n=2
while i <=11:
    print (n,"*",i,"=",n*i)
    i=i+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22

In [ ]:
i=1
while i<=10:
    print(i)
    i = i +1

1
2
3
4
5
6
7
8
9
10

In [ ]:
v= 6
v1=60
v2= int(input())
if v2>v1:
    print('greater')
elif v2==v1:
    print("equal")
else:
    print ("lesser")

    # enter your numbar and run

greater

In [ ]:
l=[1,2,3,4,5,6,7]
print (10 not in l)
if 11 not in l:
    print('no its not in the ist')
else:
    print('in this list')

True
no its not in the ist

In [ ]:
l=[1,2,3,4,5,6,7]
print (5 not in l)
if 111 not in l:
    print('no its not in the ist')
else:
    print('in this list')

False
no its not in the ist

In [ ]:
age = 18
adult = int(input())
if age <= adult:
    print ("you hava to win in this job")
elif age >= adult:
    print ('you have not accive the job')

you have not accive the job

In [ ]:
age = 18
adult = int(input())
if age <= adult:
    print ("you hava to win in this job")
elif age >= adult:
    print ('you have not accive the job')

you hava to win in this job

In [ ]:
print("what is your age")
age = 18
adult = int(input())
if age <= adult:
    print ("you hava to win in this job")
elif age >= adult:
    print ('you have not accive the job')

what is your age
you hava to win in this job

In [ ]:
#youtube progarm
print("what is your age")
age = int(input())
if age < 18:
    print ('you cannot drive')

elif age>18:
    print ("we will think about you")

else:
    print ("you can drive")

what is your age
you cannot drive

In [ ]:
print("what is you age")
age= int(input())

if age <=18:
    print("you cannot drive")

elif age >=62:
    print("you can't sarwaiv this drive")

else:
     18 < age > 62
     print("you will be win")

what is you age
you will be win

In [ ]:
if 7>5:
    print ("7 is greater")
print("hello")

7 is greater
hello

In [ ]:
if 7>35:
    print ("7 is greater")
print("hello")

hello

In [ ]:
if 1:
    print("candition is true")

candition is true

In [ ]:
if 0:
    print("candition is true")

In [ ]:
if 7>10:
    print ("7 is greter")

else:
    print('8 is greater')

8 is greater

In [ ]:
A=90
B=70
C=50
D=30
if a>b:
    if a>c:
        if a>d:
            print ("A is greater")
        else:
            print("D is greater")
    elif c>d:
        print("C is greater")
    else:
        print("D is greater")
elif d>c:
    if b>d:
        print("B is greater")
    else :
        print("D is greater")
elif c>d:
    print("C is greater")
else:
    print("D is greater")

A is greater

In [ ]:
#print ("enter your 10th mark")
mark = int(input("enter your 10th mark"))

#mark = 100 

if mark > 90:
    print("congratulations you will join in Low collage & Medical collage")
elif mark < 90 and mark > 70:
    print("congratulations you will join in Enginering collage & Scince collage ")
elif mark < 70 and mark > 50:
    print(" congratulations you will join Commers collage")
else:
    print("all student are join ART COLLAGE" )

 congratulations you will join Commers collage

In [11]:
#in dis.....

d={'j':20,'e':30,'p':50}
d

{'j': 20, 'e': 30, 'p': 50}

In [12]:
if d['p']==50:
    d['p']=d['p']+100

In [13]:
d

{'j': 20, 'e': 30, 'p': 150}

In [14]:
# in list

l=['a','b','c']
l

['a', 'b', 'c']

In [16]:
if l [1]== 'b':
    l[1]='x'

    print(l)

In [17]:
l

['a', 'x', 'c']

In [19]:
i = 1
while i <= 10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

In [21]:
i = 1
n = 2
while i <= 10:
    print (n, "*",i,"=",n*i)
    i = i +1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [22]:
l=['jay','shreee','hanuman']
l

['jay', 'shreee', 'hanuman']

In [23]:
for i in l:
    print(i)

jay
shreee
hanuman

In [24]:
l1=['org','black','white']
l2=['chair','book','laptop']

In [25]:
for i in l1:
    for j in l2:
        print(i,j)

org chair
org book
org laptop
black chair
black book
black laptop
white chair
white book
white laptop

In [26]:
             #functions in real LIFE

In [27]:
def jay():
    print('hello world')

jay()

hello world

In [28]:
def add_10(x):
    return x+10

In [29]:
add_10(1)

11

In [30]:
def odd_even(x):
    if x%2==0:
        print(x,"is even")
    else:
        print(x,"is odd")

In [32]:
odd_even(19)

19 is odd

In [41]:
def even_num(x):
    if x%2==0:
        print (x,'even num')

In [42]:
even_num(10)

10 even num

In [44]:
for i in range (10):
    print (i, i%2==0)

0 True
1 False
2 True
3 False
4 True
5 False
6 True
7 False
8 True
9 False

In [54]:
for i in range (21):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [55]:
                       # lambada f....

In [56]:
g = lambda x: x*x*x

In [57]:
                        #lambada whit filter

In [64]:
l1 = [12,453,6,65,7,52,78,77,55,89,132]
odd_num = list(filter(lambda x:(x%2!=0),l1))
print(odd_num)

[453, 65, 7, 77, 55, 89]

In [65]:
even_num = list(filter(lambda x:(x%2==0),l1))
print(even_num)

[12, 6, 52, 78, 132]

In [66]:
                            # lambada with map

In [71]:
l1=[1,2,3,4,5,6,7,8,9,10]

num=list(map(lambda s:s*2,l1))
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [74]:
# from functools import ruduce

# sum=ruduce(lambda j,d:j+d,l1)
# print(sum)

In [75]:





                    #python object Oriented porgramming

In [76]:
                     # class

In [15]:
class phone :
    def make_call(self):
        print("i am makeing a call")

    def play_game(self):
        print("i am playing a game")
p1 = phone()

In [18]:
p1.make_call()

i am makeing a call

In [19]:
p1.play_game()

i am playing a game

In [28]:
class phone :

    def set_color(self,color):
        self.set.color=color

    def set_cost(self,cost):
        self.set.cost=cost

    def show_color(self):
        return self_color
    
    def show_cost(self):
        return self_cost

    def make_call(self):
        print("i am makeing a call")

    def play_game(self):
        print("i am playing a game")
p2 = phone()

In [32]:
p2.color('red')

AttributeError: 'phone' object has no attribute 'color'

In [31]:
p2.set.cost(40000)

AttributeError: 'phone' object has no attribute 'set'

In [27]:
p2.show_cost()

NameError: name 'cost' is not defined